<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div>
          <h1>
            <a class="navbar-brand" href="#">ThoughtDesign Angular Skeleton Project</a>
          </h1>    
      </div>
      <div class="pull-right">
        <button
          class="btn btn-primary btn-margin"
          *ngIf="!auth.isAuthenticated()"
          (click)="auth.login()">
            Log In
        </button>
  
        <button
          class="btn btn-primary btn-margin"
          *ngIf="auth.isAuthenticated()"
          (click)="auth.logout()">
            Log Out
        </button>
      </div>
      <div *ngIf="auth.isAuthenticated()">
        <button
          class="btn btn-primary btn-margin"
          routerLink="/home">
            Home
        </button>
      </div>
    </div>
  </div>
</nav>

<main class="container">
  <router-outlet></router-outlet>
</main>